@model Computer_Reparatieshop_Mockdatabase.ViewModels.ProgressViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    
    
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        
    <div class="form-horizontal">
        <h4>ProgressViewModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => Model.basemodel.StartDatum)
            <div class="col-md-offset-2 col-md-10">
                @Html.EditorFor(model => Model.basemodel.StartDatum)
                @Html.ValidationMessageFor(model => Model.basemodel.StartDatum)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => Model.basemodel.EindDatum)
            <div class="col-md-offset-2 col-md-10">
                @Html.EditorFor(model => Model.basemodel.EindDatum)
                @Html.ValidationMessageFor(model => Model.basemodel.EindDatum)
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => Model.status)
            <div class="col-md-offset-2 col-md-10">
                @Html.DropDownListFor(n => n.status, new List<SelectListItem>
           {
           new SelectListItem { Text = "in afwachting", Value = "in afwachting"},
           new SelectListItem { Text = "wachten op onderdelen", Value = "wachten op onderdelen"},
           new SelectListItem { Text = "in behandeling", Value = "in behandeling"},
           new SelectListItem { Text = "klaar", Value = "klaar"}
           }
           )
                @Html.ValidationMessageFor(model => Model.status)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="create" class="btn btn-default"/>
            </div>
        </div>
    </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
