
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Adminarea</title>
    <style>

        html, body {
            height: 100%;
        }

        html {
            display: table;
            margin: auto;
        }

        body {
            background-image: url("../../Images/clearbackground.jpg");
            display: table-cell;
            vertical-align: middle;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50%;
            color: dodgerblue;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            text-align: center;
            font-size: large;
        }

        #button {
            border-radius: 25px;
            border: none;
            color: white;
            background-color: aqua;
            height: 50px;
            font-weight: bolder;
            width: 250px;
            margin: 10px 40px 10px 40px;
            font-size: large;
        }
    </style>
</head>
<body id="login-div">
    <div>
        <button id="button" value="Index" onclick="location.href='@Url.Action("OpdrachtenOverviewOn","Opdracht")'">
            Opdrachten
        </button>
        <button id="button" value="Index" onclick="location.href='@Url.Action("BestellingenOverview","Bestelling")'">
            Bestellingen
        </button>
        <button id="button" value="Index" onclick="location.href='@Url.Action("WerknemerOverviewOnlyForAdmin")'">
            Werknemers
        </button>
        <button id="button" value="Index" onclick="location.href='@Url.Action("OnderdelenOverview", "Parts")'">
            Onderdelen
        </button>
        <button id="button" value="Index" onclick="location.href='@Url.Action("KlantOverviewOnlyForEmployees", "Klant")'">
            Cliënten
        </button>

    </div>
</body>
</html>
