@model IEnumerable<Computer_Reparatieshop_Mockdatabase.Models.ModelReparatie>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>

        html, body {
            height: 100%;
        }

        html {
            display: table;
            margin: auto;
        }

        body {
            background-image: url("../../Images/clearbackground.jpg");
            display: table-cell;
            vertical-align: middle;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50%;
            color: dodgerblue;
            font-size: large;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            text-align: center;
            font-size: large;
        }

        #button {
            border-radius: 25px;
            border: none;
            color: white;
            background-color: aqua;
            height: 40px;
            font-weight: bolder;
            width: 200px;
        }

        .classname {
        background: url('../../Images/button_details (1).png') no-repeat;
        width: 80px;
        height:30px;
        color: transparent;
        text-indent: -9999px;
        display: inline;
        }
    </style>
</head>
<body>
    <button id="button" value="Index" onclick="location.href='@Url.Action("Create")'">
        Creëer nieuw model
    </button>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Klant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrijsArbeid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrijsProducten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reparateur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Totaal)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td id="tr">
                    @Html.DisplayFor(modelItem => item.Klant)
                </td>
                <td id="tr">
                    @Html.DisplayFor(modelItem => item.PrijsArbeid)
                </td>
                <td id="tr">
                    @Html.DisplayFor(modelItem => item.PrijsProducten)
                </td>
                <td id="tr">
                    @Html.DisplayFor(modelItem => item.Reparateur)
                </td>
                <td id="tr">
                    @Html.DisplayFor(modelItem => item.Totaal)
                </td>
                <td id="tr">
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                </td>
                <td id="tr">
                    @Html.ActionLink("Print pdf", "Print", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</body>
</html>
