@model Computer_Reparatieshop_Mockdatabase.Models.ModelReparatie

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
    <style>

        html, body {
            height: 100%;
        }

        html {
            display: table;
            margin: auto;
        }

        body {
            background-image: url("../../Images/clearbackground.jpg");
            display: table-cell;
            vertical-align: middle;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50%;
            color: dodgerblue;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            text-align: center;
            font-size: large;
        }

        #button {
            border-radius: 25px;
            border: none;
            color: white;
            background-color: aqua;
            height: 50px;
            font-weight: bolder;
            width: 250px;
            margin: 10px 40px 10px 40px;
            font-size: large;
        }
    </style>
</head>
<body>
    <h3>Ben je er zeker van dat je dit wilt verwijderen?</h3>
    <div>
        <h4></h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.StartDatum)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.StartDatum)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.EindDatum)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EindDatum)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.status)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.status.Value)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Klant)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Klant.Naam)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Omschrijving)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Omschrijving)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.onderdelen)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.onderdelen)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PrijsArbeid)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PrijsArbeid)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PrijsProducten)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PrijsProducten)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Reparateur)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Reparateur.Naam)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Totaal)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Totaal)
            </dd>
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
    <div class="form-actions no-color">
        <input id="button" type="submit" value="Delete" class="btn btn-default" /> |
        <button id="button" onclick="history.go(-1);">Go Back</button>
    </div>
        }
    </div>
</body>
</html>
