@model IEnumerable<Computer_Reparatieshop_Mockdatabase.Models.ModelBestelling>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>

        html, body {
            height: 100%;
        }

        html {
            display: table;
            margin: auto;
        }

        body {
            background-image: url("../../Images/clearbackground.jpg");
            display: table-cell;
            vertical-align: middle;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50%;
            color: dodgerblue;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            text-align: center;
            font-size: large;
        }

        #button {
            border-radius: 25px;
            border: none;
            color: white;
            background-color: aqua;
            height: 50px;
            font-weight: bolder;
            width: 250px;
            margin: 10px 40px 10px 40px;
            font-size: large;
        }
    </style>
</head>
<body>
    <button id="button" class="orientation" value="Redirect" onclick="window.location='@Url.Action("Bestelling", "Klant")'">Account Settings</button>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.omschrijving)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StoredImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientLogin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.extrainformatie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ophalen)
            </th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelitem => item.omschrijving)
        </td>
        <td>
            @Html.DisplayFor(modelitem => item.StoredImage.ContentLength)
        </td>
        <td>
            @Html.DisplayFor(modelitem => item.ClientLogin.GebruikersNaam)
        </td>
        <td>
            @Html.DisplayFor(modelitem => item.Datum)
        </td>
        <td>
            @Html.DisplayFor(modelitem => item.extrainformatie)
        </td>
        <td>
            @Html.DisplayFor(modelitem => item.ophalen)
        </td>
        <td>
            @Html.ActionLink("Open afbeelding", "ViewImage", "Others", new { id = item.Id }, null)
        </td>
        <td>
            @Html.ActionLink("Open Client informatie", "ClientGegevens", new { id = item.Id })
        </td>

    </tr>
        }

    </table>
</body>
</html>
