@model Computer_Reparatieshop_Mockdatabase.ViewModels.RequestViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        
    <div class="form-horizontal">
        <h4>RequestViewModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.basemodel.omschrijving)
            <div class="col-md-10">
                @Html.EditorFor(model => model.basemodel.omschrijving)
                @Html.ValidationMessageFor(model => model.basemodel.omschrijving)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StoredImage)
            <div class="col-md-10">
                <input type="file" name="fileupload">
                @Html.ValidationMessageFor(model => model.basemodel.omschrijving)
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
    }
    
    <div>
    </div>
</body>
</html>
