@model IEnumerable<Computer_Reparatieshop_Mockdatabase.ViewModels.RequestViewModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>

        html, body {
            height: 100%;
        }

        html {
            display: table;
            margin: auto;
        }

        body {
            background-image: url("../../Images/clearbackground.jpg");
            display: table-cell;
            vertical-align: middle;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50%;
            color: dodgerblue;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            text-align: center;
        }

        #button {
            border-radius: 25px;
            border: none;
            color: white;
            background-color: aqua;
        }
    </style>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.basemodel.omschrijving)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StoredImage)
            </th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelitem => item.basemodel.omschrijving)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.StoredImage)
            </td>
            <td>
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
