@model Computer_Reparatieshop_Mockdatabase.ViewModels.DoneViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <style>

        html, body {
            height: 100%;
        }

        html {
            display: table;
            margin: auto;
        }

        body {
            background-image: url("../../Images/clearbackground.jpg");
            display: table-cell;
            vertical-align: middle;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50%;
            color: dodgerblue;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            text-align: center;
            font-size: large;
        }

        #button {
            border-radius: 25px;
            border: none;
            color: white;
            background-color: aqua;
            height: 40px;
            font-weight: bolder;
            width: 200px;
        }
    </style>
</head>
<body>
    <div>
        <h4>Details</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.basemodel.Klant)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.basemodel.Klant)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.basemodel.Omschrijving)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.basemodel.Omschrijving)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.basemodel.PrijsArbeid)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.basemodel.PrijsArbeid)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.basemodel.PrijsProducten)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.basemodel.PrijsProducten)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.basemodel.Reparateur)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.basemodel.Reparateur)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.basemodel.Totaal)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.basemodel.Totaal)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.onderdelen)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.onderdelen)
            </dd>
        </dl>
    </div>
    <button id="button" value="Index" onclick="location.href='@Url.Action("Index")'">
        Terug
    </button>
</body>
</html>
