@model IEnumerable<Computer_Reparatieshop_Mockdatabase.Models.ModelReparatie>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>

        html, body {
            height: 100%;
            overflow-x: hidden;
        }

        html {
            display: table;
            margin: auto;
        }

        body {
            background-image: url("../../Images/clearbackground.jpg");
            display: table-cell;
            vertical-align: middle;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50%;
            color: dodgerblue;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            text-align: center;
            font-size: large;
        }

        #button {
            border-radius: 25px;
            border: none;
            color: white;
            background-color: aqua;
            height: 40px;
            font-weight: bolder;
            width: 200px;
        }
        #header {
        position:absolute;
        top: 0px;
        background-color: deepskyblue;
        background-size:500px;
        width: 130%;
        transform:translateX(-50%);
        display: inline;
        height:70px;
        }
        #list {
         display:inline-block;
         padding: 10px;
         color: white;
        }

    </style>
</head>
<body>
    <div class="navbar" id="header">
        <ul>
            <li id="list">
                Aantal in afwachting @ViewBag.Bar.aantalinafwachting
            </li>
            <li id="list">
                aantal wachten op onderdelen @ViewBag.Bar.aantalwachtoponderdelen
            </li>
            <li id="list">
                aantal in behandeling @ViewBag.Bar.aantalinbehandeling
            </li>
            <li id="list">
                aantal klaar @ViewBag.Bar.aantaalklaar
            </li>
        </ul>
    </div>

    <button id="button" value="Creëer nieuw model" onclick="location.href='@Url.Action("Create")'">
        Creëer nieuw model
    </button>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(Model => Model.StartDatum)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.EindDatum)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.status)
            </th>
        </tr>

        @foreach (var item in Model)
        {

    <tr>


        <td>
            @Html.DisplayFor(modelitem => item.StartDatum)
        </td>
        <td>
            @Html.DisplayFor(modelitem => item.EindDatum)
        </td>
        @if (item.status.Text == "in afwachting")
        {
            <td style="color:red">
                @Html.DisplayFor(modelitem => item.status.Text)
            </td>
        }
        @if (item.status.Text == "wachten op onderdelen")
        {
            <td style="color:yellow">
                @Html.DisplayFor(modelitem => item.status.Text)
            </td>
        }
        @if (item.status.Text == "in behandeling")
        {
            <td style="color:green">
                @Html.DisplayFor(modelitem => item.status.Text)
            </td>
        }
        @if (item.status.Text == "klaar")
        {
            <td style="color:blue">
                @Html.DisplayFor(modelitem => item.status.Text)
            </td>
        }


        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            <!--  @Html.ActionLink("Details", "Details", new { id = item.Id }) |-->
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
        }


    </table>
</body>
</html>
